* {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 600px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 10px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 30px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  opacity: 1;
}

.delete-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li span.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

ul li button {
  text-decoration: none; /* Ensures that the delete button doesn't get crossed out */
}

ul li::before {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  margin-right: 10px; /* Adds space between the circle and text */
  flex-shrink: 0; /* Prevents the icon from shrinking */
  align-self: center; /* Centers the icon within the flex container */
  position: absolute;
  left: 10px;
}

ul li.completed::before {
  background-image: url(images/checked.png);
}

#mark-all-btn {
  display: none;
}
